<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <form action="/user/add" method="post">
        <input name="username" type="username" placeholder="Enter username" required>
        <input name="email" type="email" placeholder="Enter email" required>
        <input name="password" type="password" placeholder="Enter password" required>
        <button>Add user</button>
    </form>
</body>
</html>