<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new Tweet</title>
</head>
<body>
    <h1>Write your tweet here</h1>
    <form action="/tweets" method="post">
        <input type="username" placeholder="Enter username" name="username"> <br> <br>
        <textarea name="tweet" id="" placeholder="Write your tweet here" rows="10" cols="30"></textarea> <br>
        <button>Post Tweet</button>
    </form>
</body>
</html>