<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweet Details</title>
</head>
<body>
    <h1>Here Tweet's all details showed</h1>
    <p>ID: <%= tweet.id%></p>
    <div class="post">
        <h3>Username: @<%=tweet.username%></h3>
        <h3>Tweet: <%=tweet.tweet%></h3>
    </div>
</body>
</html>